/* ---GENERAL STYLES--- */
* {
  font-size: 16pt;
  margin: 0;
}
.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
.page-body {
  text-align: center;
  margin: 2rem;
}

/* ---FOOTER--- */
footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.cat-logo-small {
  width: 4rem;
}

/* ---HEADER--- */
.cat-tinder-logo {
  width: 7rem;
}
.header-nav-links {
  display: flex;
  margin-top: 2rem;
}
.nav {
  justify-content: space-between;
  margin: 1rem !important;
}
.nav-link {
  color: #60477c !important;
}

/* ---HOME--- */
.home-title {
  font-size: 7rem;
}
.home-hero-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home-hero-image {
  width: 20rem;
  margin: 1rem;
}
