/* ---GENERAL STYLES--- */
* {
  font-size: 16pt;
  margin: 0;
}
.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
.montserrat-body-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.page-body {
  text-align: center;
  margin-bottom: 7rem;
}

/* ---FOOTER--- */
footer {
  background-color: white;
  bottom: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.cat-logo-small {
  width: 4rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

/* ---HEADER--- */
.cat-tinder-logo {
  width: 7rem;
  margin: 1rem;
}
.header-nav-links {
  display: flex;
  margin-top: 1rem;
}
.nav {
  justify-content: space-between;
}
.nav-link {
  color: #60477c !important;
}

/* ---HOME--- */
.home-title {
  font-size: 7rem;
}
.home-hero-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-hero-image {
  margin: 1rem;
  width: 20rem;
}

/* ---INDEX--- */
.card {
  text-align: center;
  margin-bottom: 2rem;
}
.index-cat-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ---NOT FOUND--- */
.not-found-title {
  font-size: 5rem;
}

/* ---SHOW--- */
.show-cat-profile {
  width: 20rem;
}
