/* ---GENERAL STYLES--- */
* {
  font-size: 16pt;
  margin: 0;
}

/* ---FOOTER--- */
footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.cat-logo-small {
  width: 4rem;
}

/* ---HEADER--- */
.cat-tinder-logo {
  width: 7rem;
}
.header-nav-links {
  display: flex;
  margin-top: 2rem;
}
.nav {
  justify-content: space-between;
  margin: 1rem !important;
}
.nav-link {
  color: #60477c !important;
}
